#General use .gitignore for Minecraft modding.

#Folders
/.gradle/*
/build/*
/eclipse/*
/run/*
/out/*
/asm/*
/bin/*
/lib/*
/.settings/*

#File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.bat

#Specific files
curse.gradle
Thumbs.db